<!--<% let name="Jon" ; %> //define and assign a variable using EJS syntax. It runs as valid Javascript-->
  <h1> Hello,
    <%= theName %> <!--able to print variable's value within HTML tags-->
  </h1> <!--embed a variable within HTML-->